In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Flipkart_Mobiles.csv")

In [35]:
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990

# which mobile phone have higest selling price.?

In [29]:
a=df['Selling Price'].sort_values(ascending=False)
a

3051    179900
1351    179900
1233    179900
1459    179900
3044    179900
         ...
811       1099
814       1099
2011      1099
987       1000
988       1000
Name: Selling Price, Length: 3114, dtype: int64

In [32]:
b=df.loc[3051]
b

Brand                         Apple
Model             iPhone 13 Pro Max
Color                          Gold
Memory                          4GB
Storage                        1 TB
Rating                          4.7
Selling Price                179900
Original Price               179900
Name: 3051, dtype: object

# which company have most mobile phones

In [41]:
a=df.groupby('Brand')
a.size().sort_values(ascending=False)

Brand
SAMSUNG         719
Apple           387
realme          327
OPPO            260
Nokia           213
Xiaomi          198
Infinix         151
GIONEE          129
vivo            124
Lenovo          121
ASUS            118
Motorola        105
LG               99
POCO             74
HTC              55
Google Pixel     29
IQOO              5
dtype: int64

In [44]:
# a.get_group('SAMSUNG')

# #with 4gb memory which mobile have lowest selling price

In [51]:
c=df['Memory']=='4 GB'
d=df[c]
e=d.sort_values('Selling Price')
e.head(1)

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
1456,Apple,iPhone XS Max,Space Grey,4 GB,512 GB,4.6,144900,144900

# mobile phone with higest rating

In [53]:
df['Rating'].sort_values(ascending=False)
df.iloc[2797]

Brand                       vivo
Model                        Z1x
Color             Phantom Purple
Memory                      6 GB
Storage                    64 GB
Rating                       5.0
Selling Price              19990
Original Price             19990
Name: 2797, dtype: object